@font-face {
	font-family: SEGA;
	font-style: normal;
	font-weight: 400;
	src: url(../containers/SEGA.TTF);
	font-display: swap;
}
h1 {
	font-family: SEGA, sans-serif;
	letter-spacing: 7px;
}
input {
	letter-spacing: 3px;
}
